<div class="home">
  <div class="home-main-title">
    <div class="banner-box">
      <div class="mui-slider">
          <div class="mui-slider-group mui-slider-loop">
            <!--支持循环，需要重复图片节点-->
            <div class="mui-slider-item mui-slider-item-duplicate">
              <a href="#"><img src="images/banner/02.jpg" /></a>
            </div>
            <div class="mui-slider-item">
              <a href="#"><img src="images/banner/01.jpg" /></a>
            </div>
            <div class="mui-slider-item">
              <a href="#"><img src="images/banner/03.jpg" /></a>
            </div>
            <div class="mui-slider-item">
              <a href="#"><img src="images/banner/02.jpg" /></a>
            </div>
            <!--支持循环，需要重复图片节点-->
            <div class="mui-slider-item mui-slider-item-duplicate">
              <a href="#"><img src="images/banner/01.jpg" /></a>
            </div>
        </div>
        <div class="mui-slider-indicator">
          <div class="mui-indicator mui-active"></div>
          <div class="mui-indicator"></div>
          <div class="mui-indicator"></div>
        </div>
        </div>
    </div>
  </div>
  <div class="home-main-content">
    <div class="main-show-list">
      <div class="main-buying">
         <div class="buying-box main-buying-box1">抢购</div>
         <div id="start" class="buying-box main-buying-box2">9点抢购中</div>
         <div id="hour" class="buying-box main-buying-box3">00</div>
         <div class="buying-box main-buying-box4 main-buying-box3">:</div>
         <div id="minte" class="buying-box main-buying-box3">00</div>
         <div class="buying-box main-buying-box4 main-buying-box3">:</div>
         <div id="second" class="buying-box main-buying-box3">00</div>
         <div class="buying-box main-buying-box5">更多 ></div>
      </div>
      <div class="main-buying-content">
        <div class="js-main-list-box main-list-box" data-page="1">
          <div class="list-box-img">
           	<img src="images/womanwei/1.jpg">
          </div>
          <div class="list-box-same">
            <span class="same-span-list">¥128</span>
            <span class="same-span2-list">¥199</span>
          </div>
          <div class="list-box-same same-span3-list">
            <span>【潮牌单品...</span>
          </div>
          <div class="list-box-same same-div-txt">立即抢</div>
        </div>
        <div class="js-main-list-box main-list-box" data-page="2">
          <div class="list-box-img">
            <img src="images/womantwo/1.jpg">
          </div>
          <div class="list-box-same">
            <span class="same-span-list">¥129</span>
            <span class="same-span2-list">¥188</span>
          </div>
          <div class="list-box-same same-span3-list">
           	<span>【潮牌单品...</span>
          </div>
          <div class="list-box-same same-div-txt">立即抢</div>
        </div>
        <div class="js-main-list-box main-list-box" data-page="3">
          <div class="list-box-img">
            <img src="images/womansan/1.jpg">
          </div>
          <div class="list-box-same">
            <span class="same-span-list">¥1079</span>
            <span class="same-span2-list">¥1288</span>
          </div>
          <div class="list-box-same same-span3-list">
            <span>【潮牌单品...</span>
          </div>
          <div class="list-box-same same-div-txt">立即抢</div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////// -->
    <div class="main-show-box-goods">
      <div class="goods-lang-box">
        <div class="goods-list-box">
          <div class="goods-img">
              <img src="images/womantwo/2.jpg">
          </div>
          <div class="goodsTxt1">换个新装</div>
          <div class="goodsTxt2">美妆 新品</div>
        </div>
        <div class="goods-list-box">
          <div class="goods-img">
              <img src="images/womantwo/4.jpg">
          </div>
          <div class="goodsTxt1">新款上市</div>
          <div class="goodsTxt2">火爆 热销</div>
        </div>
        <div class="goods-list-box">
          <div class="goods-img">
              <img src="images/womantwo/3.jpg">
          </div>
          <div class="goodsTxt1">多款搭配</div>
          <div class="goodsTxt2">多彩 舒适</div>
        </div>
        <div class="goods-list-box">
            <div class="goods-img">
                <img src="images/womantwo/8.jpg">
            </div>
            <div class="goodsTxt1">清新亮丽</div>
            <div class="goodsTxt2">新品 推荐</div>
        </div>
      </div>
      <div class="goods-lang-box">
        <div class="goods-list-box">
          <div class="goods-img">
            <img src="images/manfour/1.jpg">
          </div>
          <div class="goodsTxt1">精品男装</div>
          <div class="goodsTxt2">热销中 </div>
        </div>
        <div class="goods-list-box">
          <div class="goods-img">
            <img src="images/manfour/2.jpg">
          </div>
          <div class="goodsTxt1">针织毛衣</div>
          <div class="goodsTxt2">V领 衬衣</div>
        </div>
        <div class="goods-list-box">
          <div class="goods-img">
            <img src="images/manfour/3.jpg">
          </div>
          <div class="goodsTxt1">秋季新款</div>
          <div class="goodsTxt2">特惠价</div>
        </div>
        <div class="goods-list-box">
          <div class="goods-img">
            <img src="images/manfour/4.jpg">
          </div>
          <div class="goodsTxt1">双11推荐</div>
          <div class="goodsTxt2">快来抢购</div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////// -->
    <div class="main-today-hot">
      <div class="main-today-title">
        <span class="today-title-top">今日推荐</span>
        <div class="today-title-more-click">更多 ></div>
      </div>
      <img class="main-today-hot-img" src="images/banner/04.jpg">
    </div>
    <div class="main-today-bottom-list">
      <div class="bottom-list-box">
        <img src="images/womanone/4.jpg">
        <span>tobi</span>
        <div class="bottom-list-txt1">【入秋的时尚】</div>
        <div class="bottom-list-txt2">
          <span class="bottom-list-txt1-span">¥299</span> 
          <span class="bottom-list-txt2-span">5.5折</span>
        </div>
      </div>
      <div class="bottom-list-box">
        <img src="images/womanfour/2.jpg">
        <span>river island</span>
        <div class="bottom-list-txt1">【分割如你心】</div>
        <div class="bottom-list-txt2">
          <span class="bottom-list-txt1-span">¥339</span> 
          <span class="bottom-list-txt2-span">8.7折</span>
        </div>
      </div>
      <div class="bottom-list-box">
        <img src="images/womansan/2.jpg">
        <span>Maje</span>
        <div class="bottom-list-txt1">【16年新东款】</div>
        <div class="bottom-list-txt2">
          <span class="bottom-list-txt1-span">¥499</span> 
          <span class="bottom-list-txt2-span">7.8折</span>
        </div>
      </div>
    </div>
    <div class="main-today-hot">
      <div class="main-today-title">
          <span class="today-title-top">新品推荐</span>
          <div class="today-title-more-click">更多 ></div>
      </div>
      <img class="main-today-hot-img" src="images/banner/04.jpg">
    </div>
    <div class="main-today-bottom-list">
      <div class="bottom-list-box">
        <img src="images/womanone/4.jpg">
        <span>tobi</span>
        <div class="bottom-list-txt1">【入秋的时尚】</div>
        <div class="bottom-list-txt2">
          <span class="bottom-list-txt1-span">¥299</span> 
          <span class="bottom-list-txt2-span">5.5折</span>
        </div>
      </div>
      <div class="bottom-list-box">
        <img src="images/womanfour/2.jpg">
        <span>river island</span>
        <div class="bottom-list-txt1">【分割如你心】</div>
        <div class="bottom-list-txt2">
          <span class="bottom-list-txt1-span">¥339</span> 
          <span class="bottom-list-txt2-span">8.7折</span>
        </div>
      </div>
      <div class="bottom-list-box">
        <img src="images/womansan/2.jpg">
        <span>Maje</span>
        <div class="bottom-list-txt1">【16年新东款】</div>
        <div class="bottom-list-txt2">
          <span class="bottom-list-txt1-span">¥499</span> 
          <span class="bottom-list-txt2-span">7.8折</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-content-rec">
    <div class="cart-content-rec-title">精选推荐</div>
    <div class="cart-content-rec-con">
      <% for(var i=0; i< 5; i++){ %>
        <div class="cart-content-goodslist1">
          <div class="cart-content-goodslist-img">
            <img src="images/womanfour/1.jpg">
          </div>
          <div class="cart-content-goodslist-txt">
            <div class="cart-content-goodslist-txt1">【送袜子】韩国罗燕时尚百货 黑色小毛衣</div>
            <div class="cart-content-goodslist-price">¥158.00</div>
          </div>
        </div>
        <div class="cart-content-goodslist2">
          <div class="cart-content-goodslist-img">
            <img src="images/womanfour/2.jpg">
          </div>
          <div class="cart-content-goodslist-txt">
            <div class="cart-content-goodslist-txt1">【送袜子】韩国罗燕时尚百货 黑色小毛衣</div>
            <div class="cart-content-goodslist-price">¥158.00</div>
          </div>
        </div>
      <% } %>
    </div>
  </div> 
</div>